
<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Material Dashboard Heading</h4>
            <p class="card-category">Created using Roboto Font Family</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h2>Typography</h2>
                </div>
                <div class="row">
                    <form method="post" id="myForm">
                        <label for="taskname" style="font-size: 20px">Task name*:</label>
                        <input type="text" name="taskname" id="taskname" />
                        <label for="tasknumber" style="font-size: 20px">Task number*:</label>
                        <input type="number" name="tasknumber" id="tasknumber" />
                        <b><p style="display:inline"> * Cannot be null</p></b>
                        <input type="button" value="Start" onclick="submitForm()">
                     </form>
                     <div id="response_area"><div>
                </div>
            </div>
        </div>
    </div>
</div>
