<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="">
                        User Profile
                    </a>
                </li>
                <li>
                    <a href="">
                        List of comments
                    </a>
                </li>
                <li>
                    <a href="">
                        Manage Data
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love
            <a href="" target="_blank"></a> by Hafsa.
        </div>
    </div>
</footer>
